<div class="page-header"><h1> Add your significant event below. </h1></div>
        <section id="inputArea">
                <!-- <input id="date" type="text" placeholder="date">  -->
                <select name="rating" placeholder="rating" ng-model="ac.input.sigEventRating">   
                <option value="" disabled selected>Rating</option>                             
                <option value="-10">-10</option>
                <option value="-9">-9</option>
                <option value="-8">-8</option>
                <option value="-7">-7</option>
                <option value="-6">-6</option>
                <option value="-5">-5</option>
                <option value="-4">-4</option> 
                <option value="-3">-3</option>
                <option value="-2">-2</option>
                <option value="-1">-1</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>  
                <option value="4">4</option>  
                <option value="5">5</option>  
                <option value="6">6</option>  
                <option value="7">7</option>  
                <option value="8">8</option>  
                <option value="9">9</option>  
                <option value="10">10</option> 
                </select>   
                <input id="description" ng-model="ac.input.sigEventDesc" type="text" placeholder="description">
                <input id="date" ng-model="ac.input.sigEventYear"type="text" placeholder="year">
        <br><br><button class="btn btn-default" ng-click="ac.clicky()">submit</button></br></br>   
</section>
