<h2> Click the item that you would like to delete below. </h2>
        <div ng-repeat="resObj in gc.resObj" class="col-md-4">
                <ul class="list-group">
                        <div class="row justify-content-md-left">
                                <div class="col col-lg-2">
                <li class="list-group-item">Description: {{resObj.description}}</li>
                <li class="list-group-item">Date: {{resObj.date}}</li>
                <li class="list-group-item">Rating: {{resObj.point_type}}</li>
                </ul>