<div class="page-header"><h1> Now for some significant events.<p> Some examples might be a wedding, birth, graduation, etc. </h1></div>
<h2> Name a significant event. </p></h2>
    <section id="inputArea">
        <input id="description" ng-model ="ec.sigEventOneDescIn" type="text" placeholder="description">
        <input id="date" ng-model ="ec.sigEventOneYearIn" type="text" placeholder="date">
    </section>
<h3> And another</h3>
        <input id="description" ng-model ="ec.sigEventTwoDescIn" type="text" placeholder="description">
        <input id="date" ng-model ="ec.sigEventTwoYearIn" type="text" placeholder="date">
        <br><br><button ng-click="ec.clicky()"><a href="/#!chart">submit</a></button></br></br> 