<div class="page-header">
    <h1> Now for some significant events.
        <p> Some examples might be a wedding, birth, graduation, etc. </h1>
</div>
<h2> Name a significant event. </h2>
</p>
<section id="inputArea">
    <input id="description" ng-model="ec.input.sigEventOneDesc" type="text" placeholder="description">
    <input id="date" ng-model="ec.input.sigEventOneYear" type="text" placeholder="date">
</section>
<h3> And another</h3>
<input id="description" ng-model="ec.input.sigEventTwoDesc" type="text" placeholder="description">
<input id="date" ng-model="ec.input.sigEventTwoYear" type="text" placeholder="date">
<br><br><button class="btn btn-default" ng-click="ec.clicky()">submit</button></br>
</br>