<div class="page-header">
    <h1>What would you like to do?</h1>
</div>
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">What would you like to do?
<span class="caret"></span></button>
<ul class="dropdown-menu">
        <li><a href="#!/addHigh">Delete Events</a></li>
        <li><a href="#!/addEvents">Add Events</a></li>
    <!-- <br><br><a class="btn btn-default" href="#!/addHigh">Delete Events</a></br>
    </br>
    <br><br><a class="btn btn-default" href="#!/addEvents">Add Events</a></br>
    </br> -->
</ul>
</div>