body{
    background-color: rgb(194, 196, 198);
    padding: 20px;
    margin: 20px;
}
.home-div{
    background-image: url("https://i.pinimg.com/736x/53/b6/75/53b67587ab52e79798f1b4f4223cfe8a--stone-paths-walkways.jpg");   
}

h1 {
    color: #302E2E;
    font-family: Calibri;
}

h2{
    color: navy;
}

h3{
    color: olive;
}

h4{
    color: tomato;
}
button {
    /* font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    underline-style: none; */
    btn-success
    
}

.chart-line 
    chart-data: series data;
    chart-labels: x axis labels;
     chart-options (default: {}): Chart.js options
     chart-series (default: []): series labels
     chart-click (optional): onclick event handler
     chart-hover (optional): onmousemove event handler
     chart-colors (default to global colors): colors for the chart
     chart-dataset-override (optional): override datasets individually












/* .chart-line 
chart-data: series data;
chart-labels: x axis labels;
chart-options (default: {}): Chart.js options
chart-series (default: []): series labels
chart-click (optional): onclick event handler
chart-hover (optional): onmousemove event handler
chart-colors (default to global colors): colors for the chart
chart-dataset-override (optional): override datasets individually

.chart-line{
    Chart.defaults.global.colors;
} */