body{
    background-color: rgb(194, 196, 198);
    padding: 20px;
    margin: 20px;
}
.home-div{
    background-image: url("https://i.pinimg.com/736x/53/b6/75/53b67587ab52e79798f1b4f4223cfe8a--stone-paths-walkways.jpg");   
}

h1 {
    color: #302E2E;
    font-family: Calibri;
}

h2{
    color: navy;
}

h3{
    color: olive;
}

h4{
    color: tomato;
}
.jumbotron{
    padding: 40px;
}
#myChart {
    background-color: lightcyan;
}
/* .dropdown {
    float:right;
} */
