body{
    background-color: #fff;;
    padding: 40px;
    margin: 40px;
    background-image: url("https://images.pexels.com/photos/156847/pexels-photo-156847.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");   
    background-repeat: no-repeat;
    height: 100%; 
    width: 100%;
    background-size: cover;    
    background-attachment: fixed;
    background-position: center;
}
#yes {
    border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
    color: gray;
}
input {
    border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
}

h1 {
    color: #302E2E;
    font-family: Calibri;
}

h2{
    color: green;
}

h3{
    color: blue;
}

h4{
    color: red;
}
.jumbotron{
    padding: 20px;
    font-size: 16px;
    color: green;
}
#myChart {
    background-color: black;
    /* margin: 20px; */
    padding: 20px;
}
#inputArea {
    background: lightgray;
    padding: 20px;
}

/* .list-group{
    margin: 50px;
} */
/* #btn btn-secondary {
    margin: 13px 12px 12px 10px;

} */
/* .dropdown {
    float:right;
} */
